<div class="row">
  <div class="col-md-4">
    
    <h2>{{ t "about.what-can-i-do.title" }}</h2>

      <dl>
        <dt>Demand action from the Mayor!</dt>
        <dd><a href='/take-action'>Click here</a> for the phone number of the Mayor's office, and a script detailing what to say.</dd>
      </dl>

      <dl>
        <dt>Get involved</dt>
        <dd>There are several activist organizations working to eliminate the petcoke hazard from our communities</dd>
        <ul>
          <li>
            <a href='https://www.facebook.com/pages/Chicago-South-East-Side-Coalition-To-Ban-Petcoke/848330295223606?fref=ts' target='_blank'>
              Chicago South East Side Coalition to Ban Petcoke
            </a>
          </li>
          <li>
            <a href='http://setaskforce.org/' target='_blank'>
              Chicago Southeast Environmental Task Force
            </a>
          </li>
        </ul>
      </dl>


  </div>
  <div class="col-md-8">
    <h1>{{ t "about.define.title" }}</h1>

    <p>
      {{ t "about.define.body" }}
    </p>

    <h1 id="more-information">{{ t "about.more-information.title" }}</h1>

    <p>
      {{ t "about.more-information.intro" }} 
      <em>{{ t "about.more-information.intro-em" }}</em>, 
      {{ t "about.more-information.intro-cont" }} 
      <a href='{{ t "about.more-information.special" }}' target='_blank'>
        {{ t "about.more-information.special-text" }}
      </a>
    </p>

    <blockquote>
      <p>
        {{ t "about.more-information.blockquote" }}
      </p>

      <p>
        ...<strong>{{ t "about.more-information.blockquote-strong" }}</strong>, {{ t "about.more-information.blockquote-cont" }}
      </p>
    </blockquote>

    <p>
      {{ t "about.more-information.study-lead" }} <a href='http://www.ncbi.nlm.nih.gov/pubmed/22456598' target='_blank'>{{ t "about.more-information.study-a" }}</a> {{ t "about.more-information.study-b" }} <strong>{{ t "about.more-information.study-strong" }}</strong>
    </p>
  </div>
</div>

