<div class="row">


  <div class="col-md-4">
    <h1>{{ t "about.define.title" }}</h1>

    <p>
      {{ t "about.define.body" }} <a href="/about">{{ t "about.define.more" }}</a>
    </p>
  </div>

  <div class="col-md-8">
    
    <h1>{{ t "take-action.demand.title" }}</h1>

    <p class="prominent">{{ t "take-action.demand.prominent" }} <strong>{{ t "take-action.demand.prominent-strong" }}</strong> {{ t "take-action.demand.prominent-end" }}</p>

    <p>{{ t "take-action.demand.body-a" }} <strong>{{ t
        "take-action.demand.body-b" }}</strong> {{ t "take-action.demand.body-c"
        }} <strong>{{ t "take-action.demand.body-d" }}</strong> {{ t
        "take-action.demand.body-e" }} <strong>{{ t "take-action.demand.body-e1"
        }}</strong>. {{ t "take-action.demand.body-f" }}</p>

    <p><strong>{{ t "take-action.demand.body-ps-strong" }}?</strong> {{ t
      "take-action.demand.body-ps" }}</p>

    <p class="prominent text-center">{{ t "take-action.demand.prominent-number" }}
      <a href="tel:+{{phoneNumber}}">{{formatPhoneNumber phoneNumber}}</a>
    </p>

    <h2>{{ t "take-action.script.title" }}</h2>

    <blockquote>

        <p>
          {{ t "take-action.script.body" }}
        </p>

        <p>
          {{ t "take-action.script.body-ps" }}
        </p>

    </blockquote>

  </div>

</div>
